.home-page {
  display: flex;
  flex-direction: column;
  padding: 70px 0;

  .home-section-1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 100px 0;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-1-left {
      .h1-wrapper {
        position: absolute;
        bottom: 40px;
        max-width: 632px;

        h1 {
          font-family: Monotype-Corsiva-Regular, sans-serif;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 120px;
        }

        p {
          font-family: MarckScript, sans-serif;
          font-weight: 400;
          font-size: 32px;
        }

      }
    }

    .home-section-1-right {
      img {

      }
    }
  }

  .home-section-2 {
    display: flex;
    margin: 100px 0;
    gap: 20px;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-2-1col {
      width: 35%;
    }

    .home-section-2-2col {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-family: Gabriela, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 45px;
      }

      p {
        font-size: 15px;
      }
    }

    .home-section-2-3col {
      width: 40%;

      h3 {
        font-family: Gabriela, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 32px;
        margin-top: 10px;
      }

      p {
        font-size: 15px;
      }

      .home-section-2-3col-text {
        display: flex;
        align-items: flex-end;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .sect2-img-1 {
    }

    .sect2-img-2 {

    }

    .sect2-img-3 {

    }

    .sect2-img-4 {
      height: 200px;
    }
  }

  .home-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-3-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      h3 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 312%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        color: var(--tekst);
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        text-align: center;
        color: #000;
      }
    }

    .home-section-3-statistic {
      display: flex;
      justify-content: space-around;
      gap: 20px;

      .active {
        background-color: #D1C6F3;
      }

      .home-section-3-statistic-item {
        display: flex;
        text-align: center;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 250px;
        border-radius: 50%;

        border: 2px solid #D1C6F3;
        position: relative;

        .home-section-3-img {
          position: absolute;
          top: -80px;
          left: -94px;
        }

        p {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 125%;
          text-align: center;
          color: var(--tekst);
        }

        .count {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 48px;
          text-align: center;
          color: var(--tekst);
        }
      }
    }
  }

  .home-section-4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 100px 0;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-4-1 {
      display: flex;
      flex-direction: column;
      max-width: 340px;
      width: 45%;

      .home-section-4-1-1 {
        display: flex;
        flex-direction: column;

        h3 {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 85px;
          line-height: 118%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: var(--tekst);
        }

        h3:nth-child(2) {
          margin-left: auto;
        }
      }

      .home-section-4-1-2 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 15px;
        line-height: 167%;
        color: #000;
      }
    }

    .home-section-4-2 {
      display: flex;
      width: 55%;
      gap: 30px;
      position: relative;

      .home-section-4-bg-1 {
        position: absolute;
        top: -70px;
        left: -70px;
        z-index: -1;
      }

      .home-section-4-bg-2 {
        position: absolute;
        top: 81px;
        left: -209px;
        z-index: -1;
      }

      .section-4-2-1-img {
        max-width: 280px;
        height: min-content;
        width: 100%;
      }

      .section-4-2-2-img {
        max-width: 410px;
        height: min-content;
        width: 100%;
      }
    }

  }

  .home-section-5 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 100px 0;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-5-1 {
      display: flex;
      width: 55%;
      height: 700px;
      gap: 30px;
      position: relative;

      .home-section-5-bg-1 {
        position: absolute;
        max-width: 230px;
        top: 100px;
        left: 260px;
        z-index: -1;
      }

      .home-section-5-bg-2 {
        position: absolute;
        top: 41px;
        left: 311px;
        z-index: -1;
      }

      .section-5-2-1-img {
        max-width: 305px;
        height: min-content;
        width: 100%;
        margin-bottom: auto;
      }

      .section-5-2-2-img {
        max-width: 375px;
        height: min-content;
        width: 100%;
        margin-top: auto;
      }
    }

    .home-section-5-2 {
      display: flex;
      flex-direction: column;
      max-width: 340px;
      width: 45%;

      .home-section-5-1-1 {
        display: flex;
        flex-direction: column;

        h3 {
          font-family: var(--second-family);
          font-weight: 400;
          font-size: 85px;
          line-height: 118%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: var(--tekst);
        }

        h3:nth-child(2) {
          margin-left: auto;
        }
      }

      .home-section-5-1-2 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 15px;
        line-height: 167%;
        color: #000;
      }
    }

  }

  .home-section-6 {
    margin: 100px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    h3 {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 112%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
      color: var(--tekst);
      margin-bottom: 30px;
    }

    .home-section-6-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .home-section-6-Content {
      display: flex;
      justify-content: space-between;

      .home-section-6-leftContentWrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .home-section-6-leftContentText {
          h4 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 15px;
            line-height: 167%;
            color: var(--tekst);
            margin-bottom: 10px;
          }

          p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 15px;
            line-height: 167%;
            color: var(--tekst);
          }
        }
      }

      .home-section-6-rightContentWrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .home-section-6-rightContentText {
          margin-bottom: 50px;

          h4 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 15px;
            line-height: 167%;
            color: var(--tekst);
            margin-bottom: 10px;
          }

          p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 15px;
            line-height: 167%;
            color: var(--tekst);
          }
        }

        form {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 15px;
        }
      }
    }
  }

  .home-section-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    @media (min-width: 320px) and (max-width: 1440px) {
      margin: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-7-title {
      max-width: 600px;
      width: 100%;
      margin-bottom: 20px;

      h3:nth-child(1), h3:nth-child(2) {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 32px;
        text-transform: uppercase;
        color: var(--tekst);
      }

      h3:nth-child(2) {
        margin-left: auto;
        width: fit-content;
      }
    }

    .home-section-7-socialsCards {
      .home-section-7-socialsCard:nth-child(1), .home-section-7-socialsCard:nth-child(2) {
        margin-bottom: 40px;
      }
    }

    .home-section-7-bg-img-1,
    .home-section-7-bg-img-2,
    .home-section-7-bg-img-3,
    .home-section-7-bg-img-4,
    .home-section-7-bg-img-5,
    .home-section-7-bg-img-6,
    .home-section-7-bg-img-7,
    .home-section-7-bg-img-8, {
      position: absolute;
    }
  }

  .home-section-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    position: relative;

    @media (min-width: 320px) and (max-width: 1440px) {
      padding: calc(30px + 70 * (100vw - 320px) / 1120) 0;
    }

    .home-section-8-content {
      max-width: 780px;
      width: 100%;

      p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 208%;
        text-align: center;
        color: var(--tekst);
      }
    }

    .home-section-8-bg-img-5-1 {
      position: absolute;
      top: 50%;
      left: 0;
    }
    .home-section-8-bg-img-5-2 {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}