.footer {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;

  .logo {
    max-width: 50px;
    margin: 15px 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 750px;
    margin-bottom: 25px;

    @media (min-width: 320px) and (max-width: 768px) {
     display: flex;
      flex-direction: column;
    }
    a{
      @media (min-width: 320px) and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
  .contactTeam{
    display: flex;
    max-width: 540px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
    @media (min-width: 320px) and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contactTeam-designer{
      @media (min-width: 320px) and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
  .contactDev{
    margin-bottom: 15px;
    text-align: center;
  }
}