$color-primary:   #ff6b6b;
$color-secondary: #4ecdc4;
$color-text:  #161616;

@font-face {
  font-family: 'Gabriela';
  src: url('./assets/fonts/Gabriela/Gabriela-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'MarckScript';
  src: url('./assets/fonts/MarckScript/MarckScript-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/MontserratAlternates-Regular.ttf') format('truetype');
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 1700px;
  width: 100%;
  @media (min-width: 768px) and (max-width: 2000px) {
    max-width: calc(700px + 1000 * (100vw - 768px) / 1232);
  }
  @media (min-width: 320px) and (max-width: 768px) {
    max-width: calc(300px + 400 * (100vw - 320px) / 448);
  }
}

a{
  text-decoration: none;
  color: $color-text;
}
a:hover {
  text-decoration: underline;
}
ul{
  list-style: none;
}
li{

}